/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    background: lightblue url("https://shoei1944.github.io/brawlstarsmoment.github.io/img/bsbg.jpg") no-repeat center center / cover;
} */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
/*     background: lightblue url("https://shoei1944.github.io/brawlstarsmoment.github.io/img/bsbg.jpg") no-repeat center center / cover; */
    background: url("https://shoei1944.github.io/brawlstarsmoment.github.io/img/bsbg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }

header {
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

header nav a:hover {
    color: #ccc;
}

.welcome {
    padding: 20px;
    text-align: center;
}

.welcome .text-box h1 {
    color: white;
}

.welcome h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 18px;
    margin-bottom: 20px;
}

.help-tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-right: 10px;
}

.btn:hover {
    background-color: #444;
}

.btn:active {
    background-color: #555;
}

.products, .trash, .news, .reviews, .about, .buy-item, .buy-desc, .buy-btn, .desc, .reviews-inside, .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reviews-inside {
    padding-top: 20px;
    padding-bottom: 10px;
}

.news, .reviews, .about {
    margin: 50px;
}

.product-card, .trash-card, .review-card, .buy-card{
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-card img, .trash-card img {
    max-height: 150px;
}

.about {
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-card .desc {
    font-size: calc(80%);
}

.product-card .title {
    font-size: calc(80%);
}

.product-card h3, .trash-card h3, .review-card h3, .buy-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card p, .trash-card p, .review-card p, .buy-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-card img, .trash-card img, .review-card img, .buy-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#shadowBox {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.text-box {
    background-color: white;
    margin: auto;
    width: 50%;
    border-radius: 4px;
    height: 40px;
}

p {
    color: white;
}

img:hover {
    transform: scale(1.1);
}

/* Медиа-запросы для адаптивности */

/* Для планшетов */
@media (max-width: 768px) {
    .product-card, .trash-card, .review-card, .buy-card {
        width: calc(50% - 20px);
    }

    .welcome h1 {
        font-size: 28px;
    }

    .welcome p {
        font-size: 16px;
    }

    .rainbow {
        font-size: 28px;
    }
}

copyright

/* Для телефонов */
@media (max-width: 480px) {
    .product-card, .trash-card, .review-card, .buy-card {
        width: calc(100% - 20px);
    }

    .welcome h1 {
        font-size: 24px;
    }

    .welcome p {
        font-size: 14px;
    }

    .rainbow {
        font-size: 24px;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav a {
        margin: 5px 0;
    }

    .text-box {
        width: 80%;
    }
}
